---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
<p>Hello world! This is HTML5 Boilerplate.</p>


<div class="span6">
  <%= hull_component "identity@hull" %>
  <%= hull_component "hello" %>
</div>
<div class="span6">
  <%= hull_component "comments@hull", uid: 'https://google.com' %>
</div>